.main>div{
    border: solid 2px rgb(255, 255, 255);
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 800x;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(255, 255, 255);
    

}

.midsection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    text-align: center;

}

.gamearea{
    width: 652px;
    height: 314px;
}

.gamearea > img {
    margin-top: 10%;
    max-width: 250px;
  }

  .player{
    margin-top: 40px;
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .roundhistory{
    gap: 24px;
    display: flex;
  }
  .playercolumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    height: 320px;
    margin-bottom: 300px;
    width: 115px;

  }

.playercolumn,.avatar{
    text-align: center;
}

.playercolumn,.aicolumn{
    font-size: 0.8rem;

}





.roundhistory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




.buttons{
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: auto;
    width: 482px;
    height: 81px;
    border-radius: 19px;
    gap: 14px;


}

button {
    border-style: none;
    border-radius: 15px;
    width: 142px;
    height: 52px;
}
.score{
    width: 80px;
    height: 80px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    margin-top: -275px;
}


.avatar{
    padding-bottom: 10px;
}

.bot_img{
    text-align: center;
    text-align: center;
   
    width: 48px;
    height: 48px;
    border-radius: 12px;
    margin-bottom: 12px;

}
.bot_img>img{
    text-align: center;
    
}

.info {
    width: 702px;
    height: 80px;
    border-radius: 24px;
}

 .playercolumn,
 .bot_img,
 .buttons,
 .info,
 .score{
    -webkit-box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.38);
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.137);
}

h3 {
    font-size: 1.4rem;
    font-weight: 100;
}
.info{
}

.icon, .button{
  
    width: 79px;
    height: 79px;

}

button{
    border-radius: 15px;
    width: 142px;
    height: 52px;
    font-size: 1.7rem;
    font-weight: bold;
}


.icon >img {

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.icon{
    border-radius: 23px;
    text-align: center;
}
button, .icon{
    filter: drop-shadow(-6px 6px 0px #000000);
    background-color: #F2CB05;
}